.navbar ul li{
	margin-bottom: 10px;
	font-size: 16px;
	margin-left: 10px;
}
.navbar ul li:hover{
	
	color: black;
}
.navbar ul li a{

	letter-spacing: 1.5px;
}

.navbar ul li a:hover{

	cursor: default;
	
}