.paragraphs{

	margin-left: 2%;
	margin-right: 2%;
	
}
.paragraphs h3{
	
	font-style: initial;
	font-size: 20px;
	 animation-name: slidein;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.paragraphs   p{
	animation-name: slidein;
	animation-duration: 0.6s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	font-style: italic;
	letter-spacing: 1px;
	font-size: 17px;
	
}
.resume{
	display: flex;
	width: 100%;
}

.resume a{
	font-size: 1.1em;
		margin-left: 50%;
		margin-top:2%;
		color:#2babc1;
}
.resume a:hover{
	color:#3fcbe4;
}