.home{

	width: 100;
}



.home h1{
	opacity: 0;
	font-size: 40px;
	animation: fadein 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
	margin-left: 10%;
	margin-top: 10%;
}
.home h3{

	font-size: 30px;
	margin-left: 15%;
	opacity: 0;
	animation: fadein;
	animation-delay: 1.5s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;

	
}
.home h4{

	margin-left: 10%;
	opacity: 0;
	animation: fadein;
	animation-delay: 2s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
.App-logo {

	opacity: 0;
	animation:fadein 1s 1.8s forwards,App-logo-spin infinite 10s linear;
	height: 150px;
	margin-left: 35%;

}

.Arrow{

	opacity: 0;
	width: 10%;
	height: 15%;
	margin-left:10%;
	animation:arrowmove;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 2s;
	animation-iteration-count: infinite;

}


@keyframes fadein{

	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes arrowmove{

	0%{transform: translate(550px);}

	50%{opacity: 1;}

	100%{ opacity: 1; transform: translate(0%);}
}