.home{

	width: 100;
}



.home h1{

	font-size: 40px;
	animation: fadein 4s;
	margin-left: 10%;
	margin-top: 10%;
}
.home h3{

	font-size: 30px;
	margin-left: 15%;

	
}
.home h4{

	margin-left: 10%;
}
.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 150px;
  margin-left: 35%;
}

@keyframes fadein{

	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
