  body, a, div, html, nav, button, input, form, span, ul, li, textarea, strong,
p, select, option {
  border: 1;
  padding: 0;
  margin: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: inherit;
  cursor: auto;
  list-style: none;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
background-color: #d4d8db;  
font-family: 'Raleway', sans-serif;
}

img,form,iframe{
  width: 100%;
  max-width: 100%;
}

.app{
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;

}

@media only screen and (max-width: 600px){

.app {flex-direction: column;
      justify-content: center;

}
div.sidebar {
  width: 100%;
  padding: 0;
  margin:0;
}

div.profile img {
  width :60%;
  margin-left: 20%;
}
nav.navbar ul {
  margin-left: 30%;
 
}
nav.navbar ul li {
padding: 2%;
font-size: 2em;
}
div.Social a{
  display: inline;
  margin-left: 18%;
}
div.display {
  width: 100%;
  margin:0;
  display:flex;
  flex-direction: column;
  overflow: initial;
}
div.home h1{
  
  font-size: 20px;
}
div.home h3{

  font-size: 15px;
}
div.logo{
    margin-left: 10%;
  }
 div.home .App-logo{
    height: 100px;
  }
div.apicalls{
  flex-direction: column;
}


}
@media only screen and (max-width: 380px){
  nav.navbar {
    margin-right: 20%;
  }
  nav.navbar ul li{
    font-size: 2em;

  }

}
