body, a, div, html, nav, button, input, form, span, ul, li, textarea, strong,
p, select, option {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: inherit;
  cursor: auto;
  list-style: none;
}