.profile img{

	width: 80%;
	overflow: hidden;
	padding-top:5%;
	margin-left: 9%;
	border-radius: 50%;
	
}

.profile h1{
	margin-bottom: 5%;
	text-align: center;
	font-size: 25px;
	
}

.profile p{
	text-align: center;
	font-style: italic;	
}

