.home{

	width: 100;
}



.home h1{
	opacity: 0;
	font-size: 40px;
	animation: fadein 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.4s;
	margin-left: 5%;
	margin-top: 5%;
}
.home h3{

	font-size: 30px;
	margin-left: 11%;
	opacity: 0;
	animation: fadein;
	animation-delay: 1s;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;

	
}

.App-logo {

	
	animation:App-logo-spin infinite 10s linear normal;
	height: 200px;
	overflow: hidden;
	animation-play-state: running;
	
}
.logo{
	margin-left: 30%;
	margin-right: 30%;
	opacity: 0;
	animation:applogo-pop 2s 1.5s forwards;
}


.logo img:hover{
	animation:App-logo-spin infinite 2s linear normal;
	overflow: hidden;
	animation-play-state: running;
	animation-delay: 5s;

}



@keyframes fadein{

	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes applogo-pop{

	from{transform: scale(0);}
	to{transform: scale(1);opacity: 1;}
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

