
.skillswraper{
	content: "";
    clear: both;
    display: table;	
    padding-left: 3%;
    padding-top: 7%;


}

.skill1{
	opacity: 0;
	float: left;
    width: 33%;
    padding-bottom: 10%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;


}
.skill2{
	opacity: 0;
	float: left;
    width: 33%;
    padding-bottom: 10%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
}
.skill3{
	opacity: 0;
	float: left;
    width: 33%;
    padding-bottom: 10%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
}
.skill4{
	opacity: 0;
	float: left;
    width: 33%;
    padding-bottom: 10%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
}
.skill5{
	opacity: 0;
	float: left;
    width: 33%;
    padding-bottom: 10%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
}
.skill6{
	opacity: 0;
	float: left;
    width: 33%;
    padding-bottom: 10%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
}
.skill7{
	opacity: 0;
	float: left;
    width: 33%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
}
.skill8{
	opacity: 0;
	float: left;
    width: 33%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
}

.skill9{
	opacity: 0;
	float: left;
    width: 33%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	
}

.skill1 h3{
	float: right;
	padding-right: 39%;
	font-weight: lighter;

}
.skill2 h3{
	float: right;
	padding-right: 55%;
	font-weight: lighter;

}
.skill3 h3{
	float: right;
	padding-right: 63%;
	font-weight: lighter;
}
.skill4 h3{
	float: right;
	padding-right: 59%;
	font-weight: lighter;
}
.skill5 h3{
	float: right;
	padding-right: 56%;
	font-weight: lighter;
}
.skill6 h3{
	float: right;
	padding-right: 51%;
	font-weight: lighter;
}
.skill7 h3{
	float: right;
	padding-right: 58%;
	font-weight: lighter;
}
.skill8 h3{
	float: right;
	padding-right: 46%;
	font-weight: lighter;
}
.skill9 h3{
	float: right;
	padding-right: 53%;
	font-weight: lighter;
}

.skill1 div.progress{
	opacity: 0;
	background-color: #3b3e44;
	height: 13px;
	width: 75%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
.skill2 div.progress{
	opacity: 0;
	background-color: #3b3e44;
	height: 13px;
	width: 95%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
    animation-delay: 0.5s;
}
.skill3 div.progress{
	opacity: 0;
	background-color: #3b3e44;
	height: 13px;
	width: 90%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
.skill4 div.progress{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 80%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
.skill5 div.progress{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 80%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
.skill6 div.progress{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 50%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
.skill7 div.progress{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 60%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
.skill8 div.progress{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 85%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
.skill9 div.progress{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 90%;
	border-radius: 1px;
	animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}


.bar{
	position: relative;
	border:2px solid;
	border-color: #00abc0;
	width: 90%;
	border-radius: 3px;
}


.skills img{
	
	width: 20%;
	border-radius: 10%;
}

@keyframes progressbar {

	0%{transform: scaleX(0);}
	100%{transform: scaleX(1);opacity: 1;}
}

@keyframes slidein{

	0%{transform: translateX(-350%);}
	100%{transform: translateX(0%); opacity: 1;}
}

@media only screen and (max-width: 450px){

	.skillswraper{
flex-direction: column;
display: flex;


}
.skillswraper div{
	width: 90%;
}
}
