
.skillswraper{
	content: "";
    clear: both;
    display: table;	
    padding-left: 3%;
    padding-top: 7%;


}

.skill{
	opacity: 0;
	float: left;
    width: 33%;
    padding-bottom: 10%;
    animation-name: slidein;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;


}


.skill h3{
	float: right;
	padding-right: 45%;
	font-weight: lighter;

}

 #progress1{
	opacity: 0;
	background-color: #3b3e44;
	height: 13px;
	width: 95%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress2{
	opacity: 0;
	background-color: #3b3e44;
	height: 13px;
	width: 95%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
    animation-delay: 0.5s;
}
#progress3{
	opacity: 0;
	background-color: #3b3e44;
	height: 13px;
	width: 90%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress4{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 90%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress5{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 90%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress6{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 75%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress7{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 80%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress8{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 85%;
	border-radius: 1px;
    animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress9{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 70%;
	border-radius: 1px;
	animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress10{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 90%;
	border-radius: 1px;
	animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress11{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 90%;
	border-radius: 1px;
	animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}
#progress12{
	opacity: 0;
	position: relative;
	background-color: #3b3e44;
	height: 13px;
	width: 90%;
	border-radius: 1px;
	animation-name: progressbar;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	transform-origin: left;
	animation-timing-function: linear;
	animation-delay: 0.5s;
}


.bar{
	position: relative;
	border:2px solid;
	border-color: #00abc0;
	width: 90%;
	border-radius: 3px;
}


.skills img{
	
	width: 20%;
	border-radius: 10%;
}

@keyframes progressbar {

	0%{transform: scaleX(0);}
	100%{transform: scaleX(1);opacity: 1;}
}

@keyframes slidein{

	0%{transform: translateX(-350%);}
	100%{transform: translateX(0%); opacity: 1;}
}

@media only screen and (max-width: 450px){

	.skillswraper{
flex-direction: column;
display: flex;


}
.skillswraper div{
	width: 90%;
}
}
