.sidebar{
	
	color:#fff;
	position: absolute;
	background-color: #3b3e44;
	position: relative;
	width: 18%;
	margin-left: 10%;
	margin-top: 5%;	
	overflow: hidden;
}

.sidebarwidget{

	text-align:left;
	margin-left:15px;
	margin-right:15px;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom: 1px solid #272F34;
	box-shadow: 0 1px 0 #4B6272;
}
