.sidebar{
	
	color:#fff;
	position: absolute;
	background-color: #3b3e44;
	position: relative;
	width: 18%;
	margin-left: 10%;
	margin-top: 3%;	
	overflow: hidden;
	animation-name: popout;
	animation-duration: 1s;
}

.sidebarwidget{

	text-align:left;
	margin-left:15px;
	margin-right:15px;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom: 1px solid #272F34;
	box-shadow: 0 1px 0 #4B6272;
}


@keyframes popout {

	from{transform: scale(0);}
	to{transform: scale(1);}
}